.journallist-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 45vh;
  width: 30vw;
  border-style: solid;
  overflow: auto;
}

.add-journal-message {
  text-align: center;
}

.remove-entries-button{
  margin-top: 42.8vh;
  align-self: flex-end;
  position: fixed;
}